* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    position: relative;
    background-color: aliceblue;
}

#container {
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto auto;
}

.nav {
    background-color: #333;
    width: 100%;
    color: #fff;
    height: 50px;
    font-size: 24px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    span {
        position: absolute;
        right: 20px;
        padding: 12px 20px;
    }

    span:hover {
        background-color: #fff;
        color: #333;
        cursor: pointer;
    }
}

.cart {
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
    position: absolute;
    top: 50px;
    color: black;
    transition: .5s ease-in;
}

.cartActive {
    right: 0;
}

.cartNotActive {
    right: -2000px;
}

.card {
    width: 400px;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.card img {
    height: 200px;
    object-fit: cover;
    margin-bottom: 30px;
}
.card h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
.card p {
    font-size: 16px;
    margin-bottom: 10px;
}
.card button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
